asttokens==2.4.1
bidict==0.23.1
blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
dnspython==2.6.1
eventlet==0.36.1
executing==2.0.1
Flask==3.0.3
Flask-SocketIO==5.3.6
fonttools==4.53.0
greenlet==3.0.3
h11==0.14.0
idna==3.7
ipython==8.25.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
kiwisolver==1.4.5
lightningchart @ file:///Users/giba/LightningChart/vitalsigns/lightningchart-0.7.1.1-py3-none-any.whl#sha256=07399b529d37c1ebc7a8177d5fbd94e9b0181b2a18c81d740f9cd683e2fbec5d
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
msgpack==1.0.8
numpy==2.0.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
requests==2.32.3
scipy==1.14.0
simple-websocket==1.0.0
six==1.16.0
soundfile==0.12.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vitaldb==1.4.9
wcwidth==0.2.13
Werkzeug==3.0.3
wfdb==4.1.2
wsproto==1.2.0
